config meshconfig softap
        option ssid  'AS100G'
        option password  '123456789'
        option channel  '1'
        option authmode  'AUTH_WPA_WPA2_PSK'
        option ssid_hidden  '0'
        option max_conn  '4'
        option beacon_interval  '100'
        option mac  '62:01:94:00:00:01'
        option flags  '0'
                
config meshconfig station
        option ssid	'AS100_STA'
        option password	'123456789'
        option bssid_set	'0'
        option bssid		'00:00:00:00:00:00'
        option mac	'5c:cf:7f:8b:93:97'
        option flags	'0'

config meshconfig general
	option ipaddr	'111.10.10.10'
	option ipmask	'255.255.255.0'
	option gateway	'111.10.10.1'
