config meshconfig softap
        option ssid  'AS100G'
        option password  '123456789'
        option channel  '1'
        option authmode  'AUTH_WPA_WPA2_PSK'
        option ssid_hidden  '0'
      
config meshconfig station
	option enabled	'0'
        option ssid	'AS100_STA'
        option password	'123456789'

config meshconfig ip
	option ipaddr	'192.168.10.1'
	option ipmask	'255.255.255.0'
	option gateway	'192.168.10.1'

config meshconfig crypto
	option keylen	'16'
